"BCrypt.Net-Next" Version="4.0.3"
"Microsoft.AspNetCore.Identity.EntityFrameworkCore" Version="8.0.10"
"Microsoft.EntityFrameworkCore" Version="8.0.10"
"Microsoft.EntityFrameworkCore.SqlServer" Version="8.0.10"
"Microsoft.EntityFrameworkCore.Tools" Version="8.0.10"

###########################################################################################################################################
###########################################################################################################################################



تغییرات مورد نیاز 


1- به روز رسانی کلیم کاربر در ویرایش نقش ها مثل اختصاص نقش
۲-چک کردن کاربر برای لاگین بودن بعد کلایم بهش دادن
۳- معماریه لایه ای