"BCrypt.Net-Next" Version="4.0.3"
"Microsoft.AspNetCore.Identity.EntityFrameworkCore" Version="8.0.10"
"Microsoft.EntityFrameworkCore" Version="8.0.10"
"Microsoft.EntityFrameworkCore.SqlServer" Version="8.0.10"
"Microsoft.EntityFrameworkCore.Tools" Version="8.0.10"

###########################################################################################################################################
###########################################################################################################################################



تغییرات مورد نیاز 

۱- مشکل ایجاد اگهی بدون عکس  با یک عکس  با  دو عکس
۲- افزودن کلایم های کاربر هنگام لاگین  ایجاد مشکل برای تغییر نقش کاربران وارد شده
۳-ذخیره داخلی عکس ها برای نمایش انها 
۴- مرتب کردن فرم های دستکاری شده

