@{
    ViewData["Title"] = "Access Denied";
}

<style>
    .centered {
        text-align: center;
        margin-top: 50px; /* فاصله از بالا */
    }
    .message {
        font-size: 20px; /* اندازه فونت */
        color: #ff0000; /* رنگ متن */
    }
</style>

<div class="centered">
    <h1>Access Denied</h1>
    <p class="message"> .شما دسترسی لازم برای ورود به این صفحه را ندارید</p>
</div>
