@model AssignRoleViewModel

<h2>اختصاص نقش به کاربر</h2>

<form asp-action="AssignRoleToUser">
    <input type="hidden" asp-for="UserId" />

    <div class="form-group">
        <label for="roleName">نقش را انتخاب کنید:</label>
        <select asp-for="SelectedRoles" asp-items="@(new SelectList(Model.AvailableRoles))" class="form-control" multiple>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">اختصاص نقش</button>
</form>

@if (!ViewData.ModelState.IsValid)
{
    foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
    {
        <div class="alert alert-danger">@error.ErrorMessage</div>
    }
}
